// Core: Define complete styles to render component, including base and theme styles

@use '@material/feature-targeting/feature-targeting';

@mixin core-styles($query: feature-targeting.all()) {
  .mdc-segmented-button {
    $feat-structure: feature-targeting.create-target($query, structure);

    @include feature-targeting.targets($feat-structure) {
      display: inline-block;
      font-size: 0;
    }
  }
}